@model IEnumerable<zaj9.Models.Probki>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa_Probki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ilosc_Pojemnikow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waga_Probek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zbadane)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa_Probki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ilosc_Pojemnikow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waga_Probek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zbadane)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBadania">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBadania">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBadania">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
